voorbeelddata-paul/sql2gml/Best.gml
voorbeelddata-paul/sql2gml/Authorities.gml
ShapeChange/cl/
ShapeChange/cl/INPUT/
ShapeChange/codelists/
ShapeChange/codelists/INPUT/
ShapeChange/sql/
ShapeChange/xsd/
*.log
*~
voorbeelddata-paul/sql2gml/post.log
voorbeelddata-paul/sql2gml/Authorities.gml
voorbeelddata-paul/sql2gml/post.log
*.php~
voorbeelddata-paul/sql2gml/sql2gml.php~
voorbeelddata-paul/sql2gml/Authorities.gml
voorbeelddata-paul/sql2gml/post.log
voorbeelddata-paul/sql2gml/Best.gml.ok
voorbeelddata-paul/sql2gml/Authorities.gml

xsd/Makefile~

codelists/validateCodelist.xsl

voorbeelddata-paul/sql2gml/Authorities.gml

xsd/Makefile~
ShapeChange/log-imk2015.xml
ShapeChange/log-imk2015.html

*.xml~

*.xml~

codelists/waardelijsten.orig.csv

codelists/waardelijsten-utf16.txt

codelists/waardelijsten-utf8.csv

codelists/waardelijsten-utf8.csv
