voorbeelddata-paul/sql2gml/Best.gml
voorbeelddata-paul/sql2gml/Authorities.gml

*.log

voorbeelddata-paul/sql2gml/post.log

voorbeelddata-paul/sql2gml/Authorities.gml

voorbeelddata-paul/sql2gml/post.log

*.php~

voorbeelddata-paul/sql2gml/sql2gml.php~

voorbeelddata-paul/sql2gml/Authorities.gml

voorbeelddata-paul/sql2gml/post.log

voorbeelddata-paul/sql2gml/Best.gml.ok

voorbeelddata-paul/sql2gml/Authorities.gml

xsd/Makefile~

codelists/validateCodelist.xsl

voorbeelddata-paul/sql2gml/Authorities.gml

xsd/Makefile~
